@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  backface-visibility: hidden;
}

/* tailwind styles */
html {
  @apply scroll-smooth;
}

body {
  background: rgba(183, 240, 235, 0.2);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

img {
  @apply w-full block;
}

body {
  @apply font-heading;
}

input,
textarea,
button {
  @apply outline-none bg-none border-0 bg-transparent;
}

.container {
  @apply my-0 mx-auto px-4 w-full lg:w-[95%];
}

.linear {
  @apply flex flex-col;
}

.wht-text {
  @apply text-white opacity-60 font-medium;
}

.tranf-center {
  @apply translate-x-1/2 left-[50%] translate-y-[-50%] translate-x-[-50%];
}

.space-sty {
  @apply flex items-center justify-between;
}

.flex-box {
  @apply flex items-center justify-center;
}

.inputs {
  @apply bg-thickLightBlue placeholder:text-white  text-white font-semibold rounded w-full text-sm p-4;
}
